@model IEnumerable<ExamenFinalCalidadJCGM.Models.Ingresos>

@{ ViewData["Title"] = "Lista de Ingresos"; }

<div class="container">
    <div class="row ">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2">
            <a class="btn btn-success d-block" id="agregarNuevoIngreso" asp-action="Create" asp-controller="Ingresos"><i class="far fa-plus-square"></i></a>
        </div>
    </div>


    <div class="row mt-3 ">
        <div class="col-sm-12">
          
<table class="table table-bordered" id="datatable">
    <thead class="thead-dark">
        <tr>
            <td>Cuenta</td>
            <td>Fecha Gasto</td>
            <td>Descripcion</td>
            <td>Monto</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Cuenta.Nombre</td>
    <td>@item.Fecha</td>
    <td>@item.Descripcion</td>
    <td>@item.Monto</td>

</tr>}
    </tbody>
</table> 
        </div>
    </div>
</div>